@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white-100: #F9FBFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    cursor: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a{
  color: red;
  cursor: not-allowed;
}

p, h1, h2, h3, h4, h5, label{
  color: var(--white-100);
}

input{
  outline: none;
  background-color: transparent;
}