@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000204;
  --foreground: #FBFDFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000204;
    --foreground: #FBFDFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Termina, Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    cursor: none !important;
  }

  button, a, input, label{
    cursor: none !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p, a, h1, h2, h3, h4, h5, label{
  color: var(--white-5);
}

input{
  outline: none;
  background-color: transparent;
}

/*Plan Cards CSS*/
.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
