@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000204;
  --foreground: #FBFDFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000204;
    --foreground: #FBFDFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Termina, Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    cursor: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a{
  color: red;
  cursor: not-allowed;
}

p, h1, h2, h3, h4, h5, label{
  color: var(--white-5);
}

input{
  outline: none;
  background-color: transparent;
}